.title-container {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 0;
    left: 0;
}
.action-container {
    position: absolute;
    height: 45%;
    width: 100%;
    top: 45%;
    left: 0;    
}