<div class="list-container">  
  <div *ngIf="categoryList.length !==0;else empty_state" class="item-container">
    <div class="item-header"><h3>Choose Category</h3></div>
    <div class="item" *ngFor="let category of categoryList;let i=index"><span class="item-title" [ngClass]="{'selected' : isCurrentlySelected(i)}" (click)="selectItem(i)">{{category.name}}</span>
      <div *ngIf="showDetailDrawer(i)" class="detail-drawer">
        <h5>Category Details:</h5>
        <div class="category-name">Name - {{category.name}}</div>
      </div>
    </div>
  </div>       
  <ng-template #empty_state>
    <div class="empty-state-container">
      There are currently no categories yet. You can Create one by clicking <a [routerLink]="['/new-category']">here</a> or on the "New Category" button above.
    </div>  
  </ng-template>
  
</div>