.list-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0; 
    .category-container, .empty-state-container {
    position: absolute;
    height: 90%;
    width: 90%;
    top: 5%;
    left: 5%;    
    border: 2px solid #212529;
    border-radius: 5%;
    overflow-y: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    }

    .category {
        display: flex;
        flex-direction:column;
        align-items:center;
        justify-content: center;
    }    
    .category-title {
        user-select: none;
    }
    .category:hover {
        cursor: pointer;
    }
    .selected {
        color: goldenrod;
    }
    .detail-drawer {
        height: 100px;
        width: 200px;
        color: #ffcc29;
        border: 1px solid #ffcc29;
        border-radius: 5%;
        background-color: #55595D;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}