.add-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .form {
        position: absolute;
       height: 100%;
       width: 100%;
       top: 0; 
       left: 0; 
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       .input-container {
           width: 100%;
           display: flex;
           flex-flow: row wrap;
           align-items: center;
           justify-content: center;
           input{
               margin-left: 15px;
           } 
       }
       .action-btn {
           margin-top: 15px;
       }
   }
}

