* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} /* override default angular/browser css*/
body {
    position: absolute;
    height: 100%;
    width: 100%;   
}
a {
    text-decoration: none;
}
.action-btn {
    width: 125px;
    padding: 10px;
    color: white;
    background-color: indigo;
    border: 1px solid gold;
    border-radius: 15%;
    font-size: 13px;
}
.action-btn:hover {
    cursor: pointer;
}